# IDE folders
/.idea
/.vscode

# Environment variables
/**/*.env

# Executable files
/**/*.exe

# Certificates
/certificates

# Private and public keys
/keys
/**/*.ed
/**/*.pub
/**/*.pem

# Service account keys
/iam
/**/service-account.json